* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background: #FAFAFA;
    font-family: 'Roboto', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    padding: 16px;
    position: relative;
    z-index: 0;
}
