/** Montserrat */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat'),
       url('/fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
       url('/fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
       url('/fonts/Montserrat/Montserrat-Regular.ttf') format('ttf'),
       url('/fonts/Montserrat/Montserrat-Regular.eot') format('eot');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat'),
       url('/fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
       url('/fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
       url('/fonts/Montserrat/Montserrat-Bold.ttf') format('ttf'),
       url('/fonts/Montserrat/Montserrat-Bold.eot') format('eot');
}

/** PT Serif */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'),
       url('/fonts/PT_Serif/PT-Serif-regular.woff2') format('woff2'),
       url('/fonts/PT_Serif/PT-Serif-regular.woff') format('woff'),
       url('/fonts/PT_Serif/PT-Serif-regular.ttf') format('ttf'),
       url('/fonts/PT_Serif/PT-Serif-regular.eot') format('eot');
}
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 400;
  src: local('PT Serif'),
       url('/fonts/PT_Serif/PT-Serif-italic.woff2') format('woff2'),
       url('/fonts/PT_Serif/PT-Serif-italic.woff') format('woff'),
       url('/fonts/PT_Serif/PT-Serif-italic.ttf') format('ttf'),
       url('/fonts/PT_Serif/PT-Serif-italic.eot') format('eot');
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local('PT Serif'),
       url('/fonts/PT_Serif/PT-Serif-700.woff2') format('woff2'),
       url('/fonts/PT_Serif/PT-Serif-700.woff') format('woff'),
       url('/fonts/PT_Serif/PT-Serif-700.ttf') format('ttf'),
       url('/fonts/PT_Serif/PT-Serif-700.eot') format('eot');
}
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 700;
  src: local('PT Serif'),
       url('/fonts/PT_Serif/PT-Serif-700italic.woff2') format('woff2'),
       url('/fonts/PT_Serif/PT-Serif-700italic.woff') format('woff'),
       url('/fonts/PT_Serif/PT-Serif-700italic.ttf') format('ttf'),
       url('/fonts/PT_Serif/PT-Serif-700italic.eot') format('eot');
}


